<!DOCTYPE html>
<html dir="ltr" lang="en">
  <!-- Mirrored from demos.wrappixel.com/free-admin-templates/bootstrap/monster-bootstrap-free/html/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 Nov 2021 09:22:11 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow" />
    <title>Error</title>
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://demos.wrappixel.com/free-admin-templates/bootstrap/monster-bootstrap-free/assets/images/favicon.png"
    />
    <!-- Custom CSS -->
    <link
      href="https://demos.wrappixel.com/free-admin-templates/bootstrap/monster-bootstrap-free/assets/plugins/chartist/dist/chartist.min.css"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link
      href="https://demos.wrappixel.com/free-admin-templates/bootstrap/monster-bootstrap-free/html/css/style.min.css"
      rel="stylesheet"
    />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div
      class=""
      style="
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <div
        class=""
        style="
          width: 400px;
          padding: 40px 20px;
          background-color: rgb(228, 228, 228);
        "
      >
        <div class="text-center">
          <h4 class="mb-3">Error: Account Credentials<br> Not Found</h4>
          <p>Please Contact the support team..</p>
          <a href="mailto:support@authorityentrepreneurs.com" class="my-2 d-block text-danger">support@authorityentrepreneurs.com</a>
          <!-- <small class="mb-3 d-block">OR</small>
          <div>
            <button type="submit" class="btn btn-danger">Try Again</button>
          </div> -->
        </div>
      </div>
    </div>
  </body>
</html>
